# Compiled output
/dist
/tmp

# budget-buddy-front
budget-buddy-front/node_modules
budget-buddy-front/.angular
npm-debug.log
yarn-error.log

# budget-buddy-back
budget-buddy-back/target/

budget_data/

# IDEs and editors
.mysql-config
