# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# budget-buddy-front
budget-buddy-front/node_modules
budget-buddy-front/.angular
npm-debug.log
yarn-error.log

# budget-buddy-back
budget-buddy-back/target/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
