<div class="budget-column-header-row">
    <div class="col-3">Inkomsten</div>
    <div class="col-3">Vaste kosten</div>
    <div class="col-3">Uitgaven</div>
    <div class="col-3">Sparen</div>
</div>

<div class="budget-column-body-row">
    <app-budget-overview-column
            class="col-3 budget-column budget-column--right-border"
            [items]=incomingBudget
            (itemClick)="openTransactionsModal($event)">
    </app-budget-overview-column>

    <app-budget-overview-column
            class="col-3 budget-column budget-column--right-border"
            [items]=fixedOutgoingBudget
            (itemClick)="openTransactionsModal($event)">
    </app-budget-overview-column>

    <app-budget-overview-column
            class="col-3 budget-column budget-column--right-border"
            [items]=outgoingBudget
            (itemClick)="openTransactionsModal($event)">
    </app-budget-overview-column>

    <app-budget-overview-column
            class="col-3 budget-column"
            [items]=savings
            (itemClick)="openTransactionsModal($event)">
    </app-budget-overview-column>
</div>
