.budget-column-header-row {
  width: 100%;
  display: flex;
  color: #f5f7f8;
  background: #303e45;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 12px;
}

.budget-column-body-row {
  width: 100%;
  display: flex;
}

.budget-column {
  padding: 10px;
}

.budget-column--right-border {
  border-right: 1px solid #303e45;
}
