@if (categoricalBudgetOverview === null) {
  <div class="no-budget-overview">
    Selecteer eerst een categorie en/of jaartal.*
  </div>
}

@if (categoricalBudgetOverview != null) {
  <div class="budgetOverview-resume">
    <div class="custom-child-panel">
    </div>
    <ng-container>
      <div class="custom-child-panel">
        <nav>
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <button class="nav-link active budget-tab" id="nav-index-tab" data-bs-toggle="tab" data-bs-target="#nav-index" type="button" role="tab" aria-controls="nav-index" aria-selected="true">Transacties</button>
            <button class="nav-link budget-tab" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">Grafiek</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-index" role="tabpanel" aria-labelledby="nav-index-tab">
            <app-index [categoricalBudgetOverview] = categoricalBudgetOverview></app-index>
          </div>
          <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab">
            <app-graphs [categoricalBudgetOverview] = categoricalBudgetOverview></app-graphs>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
}
