<div class="customPanel">
  <div class="panel-heading">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card-title text-center">
          <h3>Overzicht transacties per categorie</h3>
        </div>
      </div>
      <div class="col-md-6">
        <form [formGroup]="searchForm"
              (ngSubmit)="submit()"
              class="row g-2 align-items-center justify-content-end">
          <div class="col-auto">
              <app-select-category
                  formControlName="category">
              </app-select-category>
          </div>
          <div class="col-auto">
              <label for="year-selector" class="visually-hidden">Jaar</label>
            <app-select-year
                    formControlName="year">
            </app-select-year>
          </div>
            <div class="col-auto">
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="searchForm.invalid">
                    Zoeken
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-overview
            [categoricalBudgetOverview]=categoricalBudgetOverview>
    </app-overview>
  </div>
</div>
