@for (bpm of categoricalBudgetOverview.budgetsPerMonth; track bpm) {
  <div class="card budget-card">
    <a (click)="openTransactionsModal(bpm)">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="budgetOverview-label">{{ bpm.month }} ({{ bpm.transactions.length }})</div>
            <div class="budgetOverview-amount">{{ bpm.total | number:'1.2-2':'be-BE' }} €</div>
          </div>
        </div>
      </div>
    </a>
  </div>
}

