<form [formGroup]="createCategoryForm" (ngSubmit)="submit()">

  <div class="modal-header">
    <div class="modal-header-left">
      <h3>Categorie toevoegen</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="icon">Icoon:</label>
      <input
        formControlName="icon"
        id="icon"
        type="text"
        class="form-control">
      @if (f['icon'].touched && f['icon'].invalid) {
        <div class="alert alert-danger">
          @if (f['icon'].errors && f['icon'].errors['required']) {
            <div>Icoon is verplicht.</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="label">Label:</label>
      <input
        formControlName="label"
        id="label"
        type="text"
        class="form-control">
      @if (f['label'].touched && f['label'].invalid) {
        <div class="alert alert-danger">
          @if (f['label'].errors && f['label'].errors['required']) {
            <div>Label is verplicht.</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="fixedcost">Vaste kost: </label>
      <input
        formControlName="fixedcost"
        id="fixedcost"
        type="checkbox"
        class="form-check-input">
    </div>

    <div class="form-group">
      <label for="revenue">Is inkomst: </label>
      <input
        formControlName="revenue"
        id="revenue"
        type="checkbox"
        class="form-check-input">
    </div>
  </div>

  <div class="modal-budget-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!createCategoryForm.valid">
      <i class="fa fa-plus-circle"></i> Bewaar categorie
    </button>
    <button class="btn btn-sm btn-primary" type="button" (click)="close()">
      <i class="fa fa-times-circle"></i> Annuleren
    </button>
  </div>
</form>
