<form [formGroup]="editProjectForm" (ngSubmit)="submit()">

  <div class="modal-header">
    <div class="modal-header-left">
      <h3>Project bewerken</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="projectname">Projectnaam:</label>
      <input
        formControlName="projectname"
        id="projectname"
        type="text"
        class="form-control">
      @if (f['projectname'].touched && f['projectname'].invalid) {
        <div class="alert alert-danger">
          @if (f['projectname'].errors && f['projectname'].errors['required']) {
            <div>Project naam is verplicht.</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="projectname">Omschrijving:</label>
      <input
        formControlName="description"
        id="description"
        type="text"
        class="form-control">
      @if (f['description'].touched && f['description'].invalid) {
        <div class="alert alert-danger">
          @if (f['description'].errors && f['description'].errors['required']) {
            <div>Omschrijving is verplicht.</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="startdate">Startdatum project:</label>
      <input
        formControlName="startdate"
        id="startdate"
        type="date"
        data-date-format="dd/mm/yyyy"
        class="form-control">
      @if (f['startdate'].touched && f['startdate'].invalid) {
        <div class="alert alert-danger">
          @if (f['startdate'].errors && f['startdate'].errors['required']) {
            <div>Startdatum is verplicht.</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="enddate">Einddatum project:</label>
      <input
        formControlName="enddate"
        id="enddate"
        type="date"
        data-date-format="dd/mm/yyyy"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="icon">Icoon:</label>
      <input
        formControlName="icon"
        id="icon"
        type="text"
        class="form-control">
      @if (f['icon'].touched && f['icon'].invalid) {
        <div class="alert alert-danger">
          @if (f['icon'].errors && f['icon'].errors['required']) {
            <div>Icoon is verplicht.</div>
          }
        </div>
      }
    </div>
  </div>

  <div class="modal-budget-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!editProjectForm.valid">
      <i class="fa fa-plus-circle"></i> Bewaar project
    </button>
    <button class="btn btn-sm btn-primary" type="button" (click)="close()">
      <i class="fa fa-times-circle"></i> Annuleren
    </button>
  </div>
</form>
