<form [formGroup]="createTransactionForm" (ngSubmit)="submit()">
  <div class="modal-header">
    <div class="modal-header-left">
      <h3>Transactie toevoegen</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="number">Nummer:</label>
      <input
        formControlName="number"
        id="number"
        type="text"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="date">Datum:</label>
      <input
        formControlName="date"
        id="date"
        type="date"
        data-date-format="dd/mm/yyyy"
        class="input-group-text">
    </div>
    <div class="form-group">
      <label for="amount">Bedrag:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <select
            formControlName="sign"
            id="sign"
            class="form-select">
            <option value="+">+</option>
            <option value="-">-</option>
          </select>
        </div>
        <input
          formControlName="amount"
          id="amount"
          type="number"
          class="form-control">
        <span class="input-group-text">€</span>
      </div>
      @if (f['amount'].touched && f['amount'].invalid) {
        <div class="alert alert-danger">
          @if (f['amount'].errors && f['amount'].errors['required']) {
            <div>Bedrag is verplicht.</div>
          }
        </div>
      }
    </div>
    @if (transaction && !transaction.comment) {
      <div class="form-group">
        <label for="comment">Omschrijving:</label>
        <div>
          {{ transaction.originalComment}}
        </div>
      </div>
    }
    <div class="form-group">
      <label for="comment">Omschrijving:</label>
      <input
        formControlName="comment"
        id="comment"
        type="text"
        class="form-control">
      @if (f['comment'].touched && f['comment'].invalid) {
        <div class="alert alert-danger">
          @if (f['comment'].errors && f['comment'].errors['required']) {
            <div>Omschrijving is verplicht.</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="category" class="form-label">Categorie</label>
      <select
        formControlName="category"
        [compareWith]="compareCategory"
        id="category"
        class="form-select">
        <option value="0">-</option>
        @for (cat of categories; track cat) {
          <option
          [ngValue]="cat">{{ cat.label }}</option>
        }
      </select>
      @if (f['category'].touched && f['category'].invalid) {
        <div class="alert alert-danger">
          @if (f['category'].errors && f['category'].errors['required']) {
            <div>Categorie is verplicht.</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="project" class="form-label">Project</label>
      <select
        formControlName="project"
        [compareWith]="compareProject"
        id="project"
        class="form-select">
        <option>-</option>
        @for (proj of projects; track proj) {
          <option
          [ngValue]="proj">{{ proj.projectname }}</option>
        }
      </select>
    </div>
  </div>
  <div class="modal-budget-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!createTransactionForm.valid">
      <i class="fa fa-plus-circle"></i> Bewaar transactie
    </button>
    <button class="btn btn-sm btn-primary" type="button" (click)="close()">
      <i class="fa fa-times-circle"></i> Annuleren
    </button>
  </div>
</form>
